# Node.js dependencies
node_modules/
**/node_modules/

# Vercel build output
FE/dist/

# Environment files
*.env

# Git metadata backups
*.git.bak

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
